body a {
    color: inherit;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    width: auto;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0);
    color: #2c2c2c;
    font-family: "Roboto", sans-serif;
}

.toggler-close {
    top: 11px;
}

.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: inherit;
    z-index: 900;
}

.container {
    width: 95%;
    max-width: 1090px;
    height: 100%;
    margin: auto;
}

.main-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

.main-nav__toggler {
    position: relative;
    width: 40px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggler-open:hover .toggler-open__bar:nth-child(1), .toggler-open:focus .toggler-open__bar:nth-child(1) {
    transform: scaleX(1.1) translateY(-3px);

}
.toggler-open:hover .toggler-open__bar:nth-child(2), .toggler-open:focus .toggler-open__bar:nth-child(2) {
    transform: scaleX(0.9);
}
.toggler-open:hover .toggler-open__bar:nth-child(3), .toggler-open:focus .toggler-open__bar:nth-child(3) {
    transform: scaleX(1.1) translateY(3px);
}

.toggler-open__bar {
    position: absolute;
    left: 0;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1.07, 1, 2.71);
    transition-delay: 0s;
    width: 100%;
    height: 3px;
    background-color: #000000;
    border-radius: 3px;
}
.toggler-open__bar:nth-child(1) {
    top: 0;
}
.toggler-open__bar:nth-child(2) {
    top: 12px;
}
.toggler-open__bar:nth-child(3) {
    top: 24px;
}

.toggler-close:before, .toggler-close:after {
    position: absolute;
    top: 45%;
    left: 5%;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0, 1.07, 1, 2.71);
    transition-delay: 0s;
    display: block;
    width: 90%;
    height: 3px;
    content: "";
    background-color: #2c2c2c;
    border-radius: 3px;
}
.toggler-close:before {
    transform: rotate(45deg);
}
.toggler-close:after {
    transform: rotate(-45deg);
}
.toggler-close:hover:before, .toggler-close:focus:before {
    transform: rotate(25deg);
}
.toggler-close:hover:after, .toggler-close:focus:after {
    transform: rotate(-25deg);
}

.main-nav__expandable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.main-nav__expandable-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: #fff;
    z-index: 5;
}

.main-nav__expandable-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.main-nav__list {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-nav__item:not(:last-child) {
    margin-bottom: 30px;
}

.main-nav__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #2c2c2c;
}

.main-nav__link-title {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

.main-nav__link-descr {
    margin-top: 5px;
    font-style: italic;
    font-family: "Fira Code Medium", sans-serif;
}

.main-nav__expandable:before, .main-nav__expandable:after {
    position: absolute;
    top: 0;
    left: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    content: "";
    z-index: 1;
}
.main-nav__expandable:before {
    background-color: #2c2c2c;
}
.main-nav__expandable:after {
    transition-delay: 0.07s;
    background-color: rgba(255, 255, 255, 0.7);
}
.main-nav__expandable.js-open {
    opacity: 1;
    visibility: visible;
}
.main-nav__expandable.js-open:before, .main-nav__expandable.js-open:after,
.main-nav__expandable.js-open .main-nav__expandable-inner {
    transform: scaleX(1);
}
.main-nav__expandable.js-open .main-nav__expandable-inner {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0.14s;
}
.main-nav__expandable.js-open .main-nav__list {
    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0.85s;
    opacity: 1;
    visibility: visible;
}
.main-nav__expandable.js-open .main-nav__item {
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.main-nav__expandable.js-open .main-nav__item:nth-child(1) {
    transition-delay: 0.85s;
}
.main-nav__expandable.js-open .main-nav__item:nth-child(2) {
    transition-delay: 0.95s;
}
.main-nav__expandable.js-open .main-nav__item:nth-child(3) {
    transition-delay: 1.05s;
}
.main-nav__expandable.js-open .main-nav__item:nth-child(4) {
    transition-delay: 1.15s;
}
.main-nav__expandable.js-open .main-nav__item:nth-child(5) {
    transition-delay: 1.25s;
}
.main-nav__expandable.js-open .toggler-close {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.14, 1.01, 0.54, 1.38);
    transition-delay: 0.65s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.main-nav__expandable-inner {
    transform: scaleX(0);
    transform-origin: left center;
}

.toggler-close {
    transform: translateX(15px);
    opacity: 0;
    visibility: hidden;
}

.main-nav__list,
.main-nav__item {
    opacity: 0;
    visibility: hidden;
}

@-webkit-keyframes transformScaling {
    0% {
        transform: scaleX(0);
        transform-origin: left center;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left center;
    }
    50.5% {
        transform: scaleX(1);
        transform-origin: right center;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right center;
    }
}

@keyframes transformScaling {
    0% {
        transform: scaleX(0);
        transform-origin: left center;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left center;
    }
    50.5% {
        transform: scaleX(1);
        transform-origin: right center;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right center;
    }
}
.main-nav__item {
    position: relative;
    transform: translateY(20px);
}
.main-nav__item:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transform: scaleX(0);
    transform-origin: left center;
    background-color: #2c2c2c;
    z-index: 10;
}
.main-nav__item:after {
    position: absolute;
    top: -20px;
    left: -20px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    font-size: 5rem;
    font-weight: 700;
    content: attr(data-add-text);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.main-nav__item:nth-child(1) {
    color: rgba(240, 0, 0, 0.78);
}
.main-nav__item:nth-child(2) {
    color: rgba(240, 0, 0, 0.54);
}
.main-nav__item:nth-child(3) {
    color: rgb(106, 5, 31);
}
.main-nav__item:nth-child(4) {
    color: rgb(97, 93, 93);
}
.main-nav__item:nth-child(5) {
    color: rgb(77, 77, 77);
}

.main-nav__link-title {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.main-nav__item:hover:before {
    -webkit-animation: transformScaling 0.4s linear 0s forwards;
    animation: transformScaling 0.4s linear 0s forwards;
}
.main-nav__item:hover:after {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0.45s;
    opacity: 1;
    visibility: visible;
}
.main-nav__item:hover .main-nav__link-title {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0.45s;
    transform: translateX(10px);
}
body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("../img/back_v4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 415vh;
    height: auto;
}
.hello{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.hello-title{
    width: 50%;
    float: left;
    margin-right: 5px;

}
.hello-title h1{
    font-size: 38pt;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.hello-title p{
    font-size: 13pt;
    font-family: "Droid Sans Mono", monospace;
    font-weight: 500;
    max-width: 65%;
    width: auto;
}
.hello-title button{
    min-width: 120px;
    width: auto;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #f27318, #f2184f);
    color: #fff;
    font-size: 12pt;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.4);
    transition: transform, letter-spacing, background, 0.6s ease;

}
.hello-title button:hover{
    transition: 0.6s ease;
    transform: scale(1.2);
    letter-spacing: 4px;
    box-shadow: 4px 8px 8px rgba(0,0,0, 0.4);
    background: linear-gradient(to right, #f2184f, #f27318);
}
.social-networks{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.social-networks > .f, .in, .t{
    width: 30px;
    height: 30px;
    border: 1px solid #f2184f;
    background: inherit;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    transition: background-color, transform, 0.5s ease;
}
.social:hover{
    background: linear-gradient(to bottom, #f27318, #f2184f);
    transform: scale(1.2);
    border: none;
    box-shadow: 4px 8px 8px rgba(0,0,0, 0.4);
    color: #fff;
    font-size: 11pt;
    font-weight: 700;
}
.hello-img{
    width: 50%;
    float: right;
    margin-left: 5px;
}
.hello-img img{
    min-width: 70%;
    max-width: 80%;
    width: auto;
    margin-left: 140px;
}
@media (max-width: 768px) {
    .hello{
        max-width: 96%;
        width: auto;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hello-title{
        margin-top: 60px;
        margin-bottom: 50px;
        width: 100%;
    }
    .hello-title p{
        max-width: 100%;
        width: auto;
    }
     .hello-img, .social-networks{
         display: none;
     }


}
@media (max-width: 1024px) {
    .hello-img{
        display: none;
    }
}


.features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features-partners{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.features-partners p{
    margin-right: 50px;
    font-weight: 700;
    font-size: 18pt;
    font-family: "Droid Sans Mono", "Monotype Corsiva", monospace;
}
.features-title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features-title h1{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30pt;
}
.features-title p{
    font-family: "Droid Sans Mono",monospace;
    font-size: 14pt;
    font-weight: 500;
    min-width: 70%;
    max-width: 96%;
    width: auto;
    line-height: 23px;
    margin-top: -20px;
}

.features-block-container{
    max-width: 1000px;
    min-width: 340px;
    width: auto;
    min-height: 350px;
    height: auto;
    color: #2c2c2c;
    background-color: #fff;
    border-radius: 25px;

    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.features-block-container_item{
    max-width: 340px;
    width: auto;
    min-height: 350px;
    height: auto;
    text-align: left;
    margin: 40px 10px 30px;
    background-image: url("../img/back-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.item_2{
    background-image: url("../img/back-2.png");
}
.item_3{
    background-image: url("../img/back-3.png");
}
.features-block-container_item img{
    margin-top: 15px;
}

.item h2{
    font-family: "Fira Code", sans-serif;
    font-weight: 700;
}
.item p{
    font-family: "Fira Code Medium", sans-serif;
    line-height: 1.3;
}
@media (max-width: 768px) {
    .features-block-container{
        display: flex;
        flex-direction: column;
    }
}
.future-projects{
    max-width: 100%;
    width: auto;
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
}
.future-projects-left{
    width: 50%;
}
.future-projects-left h1{
    font-size: 34pt;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}
.future-projects-left p{
    font-size: 13pt;
    max-width: 500px;
    width: auto;
}
.future-projects_carts_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 480px;
    min-width: 240px;
    width: auto;
    min-height: 100px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    border-radius: 10px;
}
.img_item{
    margin: 6px 24px 6px 14px;
}
.item-text h3{
    margin-bottom: -15px;
}
.future-projects-right{
    width: 50%;
}
.future-projects-right img{
    max-width: 800px;
    max-height: 800px;
}
.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.services-title p{
    color: darkorchid;
    font-size: 14pt;
    font-weight: 600;
}
.services-title h1{
    font-size: 34pt;
    margin-top: -10px;
    margin-bottom: 50px;
}
.features-block-container {
    margin-bottom: -80px;
}

.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-top: 180px;
    max-width: 100%;
    width: auto;

}
.solution-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.solution-left{
    width: 50%;
    text-align: right;
}
.solution-left h1{
    font-size: 34pt;
    font-weight: 700;
}
.solution-left p{
    font-weight: 500;
    font-size: 13pt;
    max-width: 900px;
    width: auto;
}
.solution-right{
    width: 50%;
}
footer{
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.35);
}
@media (max-width: 768px) {
    .hello-title p{
        text-align: justify;
        line-height: 1.3;
        font-weight: 500;
    }
    .hello > button{
        width: 180px;
        height: 30px;
    }
    .features-title{
        min-width: 96%;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 60px;
        text-align: justify;
    }
    .future-projects-right{
        display: none;
    }
    .future-projects-left{
        width: 100%;
        text-align: justify;
        justify-content: center;
    }
    .item-text p{
        margin-right: 10px;
    }
    .features-block-container{
    background-color: rgba(255, 255, 255, 0);
    }
    .solution-container{
        display: flex;
        flex-direction: column;
    }
    .solution-left{
        width: 100%;
        margin-bottom: 30%;
    }
    .solution-left h1{
        font-size: 24pt;
        text-align: justify;
        margin: 10px;
    }
    .solution-left p{
        text-align: justify;
        margin: 10px;
    }
    .solution-right{
        display: none;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in.delayed {
    animation-delay: 0.5s;
}
.fade-in.delayed:nth-child(3) {
    animation-delay: 1s;
}
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.animate{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .5s ease-out, transform .5s ease-out;
}
.animate.is-visible{
    opacity: 1;
    transform: translateY(0);
}
.animate:nth-child(1){
    transition-delay: .2s;
}
.animate:nth-child(2) {
    transition-delay: .4s;
}
.animate:nth-child(3) {
    transition-delay: .6s;
}
.animate:nth-child(4) {
    transition-delay: .8s;
}
